[workspace]
name = "ccle_snakemake"
version = "0.2.0"
description = "Add a short description here"
authors = ["Jermiah <jermiahjoseph98@gmail.com>", "Michael <michaelcao-anh.tran@uhn.ca>"]
channels = ["conda-forge", "bioconda", "main", "r", "msys2"]
platforms = ["linux-64"]

[tasks]
rulegraph = "snakemake --rulegraph | dot -Tsvg > resources/rulegraph.svg"
dag = "snakemake -F --dag | dot -Tsvg > resources/dag.svg"
filegraph = "snakemake --filegraph | dot -Tsvg > resources/filegraph.svg"

[tasks.graphs]
depends-on = [
  { task = "rulegraph", environment = "graphs" },
  { task = "dag", environment = "graphs" },
  { task = "filegraph", environment = "graphs" },
]

[system-requirements]
linux='5.4.203'

[dependencies]

[feature.graphs.dependencies]
snakemake = "==7.32.4"
graphviz = "*"

[environments]
graphs = ["graphs"]

[target.linux-64.dependencies]
snakemake = "==7.32.4"
singularity = "*"
python-kubernetes = "*"
kubernetes = "*"
mamba = "*"
