[workspace]
name = "ccle_snakemake"
version = "0.1.0"
description = "Add a short description here"
authors = ["Jermiah <jermiahjoseph98@gmail.com>"]
channels = ["conda-forge", "bioconda", "main", "r", "msys2"]
platforms = ["linux-64"]

[tasks]
rulegraph ={ cmd = "snakemake --rulegraph | dot -Tsvg > resources/rulegraph.svg" }
dag = { cmd = "snakemake -F --dag | dot -Tsvg > resources/dag.svg" }
filegraph ={ cmd = "snakemake --filegraph | dot -Tsvg > resources/filegraph.svg" }
graphs = {depends-on = ["rulegraph", "dag", "filegraph"]}

[system-requirements]
linux='5.4.203'

[dependencies]

[target.linux-64.dependencies]
snakemake = "==7.32.4"
singularity = "*"
python-kubernetes = "*"
kubernetes = "*"
