name: DATASET_NAME
description: TODO::(add description)

url: https://sites.broadinstitute.org/ccle/
# version: 2019

directories:
  rawdata: rawdata                      # Directory for raw data
  procdata: procdata                    # Directory for processed data
  metadata: metadata                    # Directory for metadata
  results: results                      # Directory for results
  logs: logs                            # Directory for logs

containers:
  annotationGx: "docker://bhklab/annotationgx-r:0.0.0.9097"

# Configure Data URLs
metadata:
  sampleAnnotation: https://data.broadinstitute.org/ccle/Cell_lines_annotations_20181226.txt
  treatmentAnnotation: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_NP24.2009_profiling_2012.02.20.csv
  referenceGenome:
    description: 
      Gene definitions (GENCODE19, GTEx7). URL is the file provided by the Broad Institute.
      However, gene annotation files used for molecularProfiles are downloaded from the GENCODE website.
    species: homo_sapiens
    release: 19
    build: GRCh37
    url: https://data.broadinstitute.org/ccle/gencode.v19.genes.v7_model.patched_contigs.gtf.gz

treatmentResponse:
  date: '2015-02-24'
  rawdata:
    description: "Dose response data"
    url: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_NP24.2009_Drug_data_2015.02.24.csv
  processed:
    description: UNUSED FOR NOW.
    url: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_GNF_data_090613.xls

molecularProfiles:
  rnaseq: # to name rnaseq
    rsem-genes_tpm: 
      description: RNA-seq gene expression data. TPM values are log2 transformed.
      url: https://data.broadinstitute.org/ccle/CCLE_RNAseq_rsem_genes_tpm_20180929.txt.gz
    rsem-transcripts_tpm: 
      description: TODO::(add description)
      url: https://data.broadinstitute.org/ccle/CCLE_RNAseq_rsem_transcripts_tpm_20180929.txt.gz
    genes_counts: 
      description: TODO::(add description)
      url: https://data.broadinstitute.org/ccle/CCLE_RNAseq_genes_counts_20180929.gct.gz
    genes_rpkm:
      description: TODO::(add description)
      url: https://data.broadinstitute.org/ccle/CCLE_RNAseq_genes_rpkm_20180929.gct.gz

  mutation:
    oncomapAssay: 
      description: TODO::(add description)
      tool: TODO::(add tool)
      url: "https://data.broadinstitute.org/ccle_legacy_data/oncomap_mutations/CCLE_Oncomap3_Assays_2012-04-09.csv"
    oncomap: 
      description: TODO::(add description)
      tool: TODO::(add tool)
      url: "https://data.broadinstitute.org/ccle_legacy_data/oncomap_mutations/CCLE_Oncomap3_2012-04-09.maf"
    hybridCapture:
      description: TODO::(add description)
      tool: TODO::(add tool)
      url: "https://data.broadinstitute.org/ccle_legacy_data/hybrid_capture_sequencing/CCLE_hybrid_capture1650_hg19_NoCommonSNPs_NoNeutralVariants_CDS_2012.05.07.maf"

  cnv:
    copynumber_byGene: 
      description: TODO::(add description)
      tool: TODO::(add tool)
      url: "https://data.broadinstitute.org/ccle_legacy_data/dna_copy_number/CCLE_copynumber_byGene_2013-12-03.txt.gz"
  
  rppa:
    harmonized_rppa:
      description: Harmonized CCLE RPPA protein abundance (log2 ratio) matrix (Harmonized Public Proteomics 24Q4)
      url: "https://storage.googleapis.com/depmap-external-downloads/harmonized-public-proteomics-02cc.1/harmonized_RPPA_CCLE.csv?GoogleAccessId=depmap-external-downloads%40broad-achilles.iam.gserviceaccount.com&Expires=1762530464&Signature=MCOrJAHMAx1HALO%252B6aNeeeJGSM2sE3J6rUHi%252F6r6Y2EIef0OkDtgRyQs8QSJ7Zy5pgFCL8qneEs3ZrfnsGKp9%252Bsk%252Bk5iFkhHAJwt0xmZGJ27yZIu1ltunqKLbI0Y88cmmVuUqomkXgLMh%252FS9bqNOO5aTidLsoEruhwc%252FWZinEpf3YjGPuNG%252Bfssx1FTozxu3we1L8ItBEjxfdtLuOX1%252F%252Fu9wBnN4XLOP3YsqX7JqIPsSZFOZUQBz3DLgHhoQ5UHh4I3%252BrvytDPhwvArPYJ4IlgQaLNBE56k1a7y3sL5D%252Bg7sRfM8VesbNooZtWD2X8NoR8O4%252Fl6OHpSmJQ908fZeIQ%3D%3D&userProject=broad-achilles"
