name: CCLE
description: TODO::(add description)

url: https://sites.broadinstitute.org/ccle/
# version: 2019

directories:
  rawdata: rawdata                      # Directory for raw data
  procdata: procdata                    # Directory for processed data
  metadata: metadata                    # Directory for metadata
  results: results                      # Directory for results
  logs: logs                            # Directory for logs

containers:
  annotationGx: "docker://bhklab/annotationgx-r:0.0.0.9097"

# Configure Data URLs
metadata:
  sampleAnnotation: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCell_lines_annotations_20181226.txt&bucket=depmap-external-downloads
  treatmentAnnotation: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_NP24.2009_profiling_2012.02.20.csv
  referenceGenome:
    description: 
      Gene definitions (GENCODE19, GTEx7). URL is the file provided by the Broad Institute.
      However, gene annotation files used for molecularProfiles are downloaded from the GENCODE website.
    species: homo_sapiens
    release: 19
    build: GRCh37
    url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2Fgencode.v19.genes.v7_model.patched_contigs.gtf.gz&bucket=depmap-external-downloads

treatmentResponse:
  date: '2015-02-24'
  rawdata:
    description: "Dose response data"
    url: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_NP24.2009_Drug_data_2015.02.24.csv
  processed:
    description: UNUSED FOR NOW.
    url: https://data.broadinstitute.org/ccle_legacy_data/pharmacological_profiling/CCLE_GNF_data_090613.xls

molecularProfiles:
  rnaseq:
    rsem-genes_tpm: 
      description: RNA-seq gene expression data. TPM values are log2 transformed.
      url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RNAseq_rsem_genes_tpm_20180929.txt.gz&bucket=depmap-external-downloads
    rsem-transcripts_tpm: 
      description: TODO::(add description)
      url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RNAseq_rsem_transcripts_tpm_20180929.txt.gz&bucket=depmap-external-downloads
    genes_counts: 
      description: TODO::(add description)
      url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RNAseq_genes_counts_20180929.gct.gz&bucket=depmap-external-downloads
    genes_rpkm:
      description: TODO::(add description)
      url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RNAseq_genes_rpkm_20180929.gct.gz&bucket=depmap-external-downloads

  mutation:
    somatic_mutations:
      description: DepMap WGS small variants (VEP-annotated) per model.
      tool: VEP
      url: "https://depmap.org/portal/download/api/download?file_name=downloads-by-canonical-id%2Fpublic-25q3-b56c.50%2FOmicsSomaticMutations.csv&dl_name=OmicsSomaticMutations.csv&bucket=depmap-external-downloads"

  cnv:
    copynumber_gene_wgs: 
      description: TODO::(add description)
      tool: TODO::(add tool)
      url: https://depmap.org/portal/download/api/download?file_name=downloads-by-canonical-id%2Fpublic-25q3-b56c.61%2FOmicsCNGeneWGS.csv&dl_name=OmicsCNGeneWGS.csv&bucket=depmap-external-downloads
    segments_wgs:
      description: Segment-level WGS copy number profiles.
      url: ../CCLE_2019/other/OmicsCNSegmentsWGS.csv
  
  rppa:
    tcpa_rppa500:
      description: CCLE RPPA intensities from the TCPA RPPA500 release (log2 values, non-harmonized).
      url: https://tcpa.drbioright.org/rppa500mclp/download/TCPA_CCLE_RPPA500.zip

  massspec:
    gygi_ccle:
      description: CCLE quantitative proteomics (TMT mass spectrometry) normalized protein abundances from the Gygi Lab.
      release: '2021-07-15'
      url: https://gygi.hms.harvard.edu/data/ccle/protein_quant_current_normalized.csv.gz
      sample_info_url: https://gygi.hms.harvard.edu/data/ccle/Table_S1_Sample_Information.xlsx

  chromatin:
    global_mrm:
      description: Global histone post-translational modification profiling measured by MRM (CCLE 2018-11-30 release).
      release: '2018-11-30'
      url: ../CCLE_2019/primary/CCLE_GlobalChromatinProfiling_20181130.csv


  epigenetics:
    methylation_rrbs:
      tss_1kb:
        description: RRBS promoter methylation aggregated over 1kb windows upstream of transcription start sites.
        url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RRBS_TSS1kb_20181022.txt.gz&bucket=depmap-external-downloads
      tss_cpg_clusters:
        description: RRBS promoter methylation summarized over CpG clusters proximal to TSS regions.
        url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RRBS_tss_CpG_clusters_20181022.txt.gz&bucket=depmap-external-downloads
      cgi_cpg_clusters:
        description: RRBS CpG island methylation summarized across CpG clusters.
        url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RRBS_cgi_CpG_clusters_20181119.txt.gz&bucket=depmap-external-downloads
      enhancer_cpg_clusters:
        description: RRBS methylation across CpG clusters overlapping VISTA enhancer annotations.
        url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_RRBS_enh_CpG_clusters_20181119.txt.gz&bucket=depmap-external-downloads

  metabolomics:
    ccle_2019:
      description: CCLE metabolomics profiles (clean, imputed) quantified via LC-MS across 225 metabolites in 928 cell lines.
      url: https://depmap.org/portal/download/api/download?file_name=ccle%2Fccle_2019%2FCCLE_metabolomics_20190502.csv&bucket=depmap-external-downloads

  mirna:
    mirna_gct:
      description: CCLE miRNA expression (GCT) release 2018-11-03.
      url: ../CCLE_2019/primary/CCLE_miRNA_20181103.gct
    mirna_mimat:
      description: CCLE miRNA expression (MIMAT CSV) release 2018-11-03.
      url: ../CCLE_2019/primary/CCLE_miRNA_MIMAT.csv

  exon:
    exon_usage_ratio:
      description: Exon inclusion ratios (PSI) from CCLE RNAseq 2018-09-29.
      url: ../CCLE_2019/supplemental/CCLE_RNAseq_ExonUsageRatio_20180929.gct.gz
    exon_usage_denominator:
      description: Exon inclusion ratio denominators from CCLE RNAseq 2018-09-29.
      url: ../CCLE_2019/supplemental/CCLE_RNAseq_ExonUsageRatio_denominatorCnt_20180929.gct.gz
